In [3]:
#창 크기 조절
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

/var/folders/k6/9x00m_3s16v50p13ww4d8r1m0000gn/T/ipykernel_7260/2951629532.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [4]:
# 필요모듈 import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#df 불러오기
df = pd.read_csv('./dcpj.csv')
df

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,1036206,16.0,203527.0,ORDER,CANCELLED,올인원 패키지 : 김민태의 프론트엔드 아카데미 : 제 1강 JavaScript & ...,프로그래밍,올인원,2021-04-28 15:55:26,99000,NaN,NaN,99000.0,99000.0,KAKAO,NaN,프론트엔드 개발,2021-04-07 0:00:00
1,1049292,46.0,204449.0,ORDER,CANCELLED,코딩+알고리즘 온라인 완주반 6기,프로그래밍,온라인 완주반,2021-05-02 20:28:11,540000,NaN,NaN,540000.0,540000.0,KAKAO,NaN,NaN,2021-03-29 0:00:00
2,1049294,46.0,204449.0,PAYMENT,COMPLETED,코딩+알고리즘 온라인 완주반 6기,프로그래밍,온라인 완주반,2021-05-02 20:28:11,540000,NaN,NaN,540000.0,540000.0,KAKAO,CARD,NaN,2021-03-29 0:00:00
3,1039780,47.0,203078.0,PAYMENT,COMPLETED,올인원 패키지 : 딥러닝을 활용한 추천시스템 구현,데이터사이언스,올인원,2021-04-29 18:32:15,139500,NaN,NaN,139500.0,139500.0,KAKAO,POINT,딥러닝/인공지능,2020-10-13 0:00:00
4,1206486,47.0,203533.0,ORDER,CANCELLED,연습문제 패키지 : 퀴즈처럼 풀면서 배우는 파이썬 머신러닝 300제+,데이터사이언스,올인원,2021-07-09 16:05:17,104000,NaN,NaN,104000.0,104000.0,INICIS,CARD,머신러닝,2021-01-05 0:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105414,1367258,672307.0,207731.0,PAYMENT,COMPLETED,(B2B) 그린오션스 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-09-24 14:26:08,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
105415,1367259,672308.0,207742.0,PAYMENT,COMPLETED,(B2B) (주)오디 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-09-24 18:17:10,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
105416,1011200,NaN,NaN,TRANSACTION,COMPLETED,NaN,NaN,NaN,2021-04-12 11:40:00,0,NaN,NaN,NaN,NaN,NaN,B2B_CONTRACT,NaN,NaN
105417,1066932,NaN,NaN,TRANSACTION,COMPLETED,NaN,NaN,NaN,2021-05-17 16:12:00,0,NaN,NaN,NaN,NaN,NaN,B2B_CONTRACT,NaN,NaN
105418,1299115,NaN,NaN,TRANSACTION,COMPLETED,NaN,NaN,NaN,2021-08-20 20:05:00,0,NaN,NaN,NaN,NaN,NaN,B2B_CONTRACT,NaN,NaN

In [6]:
#교육 카테고리 조건 
edu_cond = (df.category_title == '교육')

In [7]:
#교육 카테고리만 추출
df_edu = df.loc[edu_cond]

In [8]:
#교옥 카테고리 확인
df_edu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031 entries, 93 to 105415
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1031 non-null   int64
 1   customer_id             1031 non-null   float64
 2   course_id               1031 non-null   float64
 3   type                    1031 non-null   object
 4   state                   1031 non-null   object
 5   course_title            1031 non-null   object
 6   category_title          1031 non-null   object
 7   format                  1031 non-null   object
 8   completed_at            1031 non-null   object
 9   transaction_amount      1031 non-null   int64
 10  coupon_title            0 non-null      object
 11  coupon_discount_amount  0 non-null      float64
 12  sale_price              128 non-null    float64
 13  tax_free_amount         128 non-null    float64
 14  pg                      99 non-null     object
 15  method                  1023 non-null   object
 16  subcategory_title       0 non-null      object
 17  marketing_start_at      1 non-null      object
dtypes: float64(5), int64(2), object(11)
memory usage: 153.0+ KB

In [9]:
#20개 정도 확인한다.
df_edu.head(20)

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
93,985178,660.0,204615.0,ORDER,CANCELLED,(B2B) 42SEOUL 온라인 구독 올 플랜 (4월),교육,B2B 온라인,2021-04-01 13:59:23,240000,NaN,NaN,240000.0,240000.0,NaN,CARD,NaN,NaN
774,984735,4661.0,204611.0,PAYMENT,COMPLETED,(B2B) 헬스케어MAP 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-03-31 21:24:00,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
4740,1052262,26632.0,205171.0,ORDER,CANCELLED,(B2B) 단국대학교 ICT혁신인재센터 온라인 구독 올 플랜,교육,B2B 온라인,2021-05-04 16:31:04,2400000,NaN,NaN,2400000.0,2400000.0,INICIS,CARD,NaN,NaN
4741,1052268,26632.0,205171.0,PAYMENT,COMPLETED,(B2B) 단국대학교 ICT혁신인재센터 온라인 구독 올 플랜,교육,B2B 온라인,2021-05-04 16:31:04,2400000,NaN,NaN,2400000.0,2400000.0,INICIS,CARD,NaN,NaN
5289,1038860,29356.0,204872.0,ORDER,CANCELLED,(B2B) 파스토 온라인 구독 올 플랜,교육,B2B 온라인,2021-04-29 13:38:54,150000,NaN,NaN,150000.0,150000.0,INICIS,CARD,NaN,NaN
5290,1050758,29356.0,205182.0,ORDER,CANCELLED,(B2B) 42SEOUL 온라인 구독 올 플랜 (5월),교육,B2B 온라인,2021-05-03 16:06:27,240000,NaN,NaN,240000.0,240000.0,INICIS,CARD,NaN,NaN
5291,1259540,29356.0,206777.0,PAYMENT,COMPLETED,(B2B) 주식회사 바로비즈 온라인 구독 올 플랜,교육,B2B 온라인,2021-08-02 11:19:59,0,NaN,NaN,600000.0,600000.0,NaN,PROMOTION,NaN,NaN
5292,1264416,29356.0,206840.0,PAYMENT,COMPLETED,(B2B) (주)이지엠앤씨 온라인 구독 올 플랜,교육,B2B 온라인,2021-08-04 11:46:44,0,NaN,NaN,7800000.0,7800000.0,NaN,PROMOTION,NaN,NaN
5293,1268697,29356.0,206877.0,PAYMENT,CANCELLED,(B2B) 메이크스타 온라인 구독 올 플랜,교육,B2B 온라인,2021-08-06 15:11:29,6900000,NaN,NaN,6900000.0,6900000.0,INICIS,CARD,NaN,NaN
5294,1294836,29356.0,206840.0,PAYMENT,CANCELLED,(B2B) (주)이지엠앤씨 온라인 구독 올 플랜,교육,B2B 온라인,2021-08-18 16:26:30,7800000,NaN,NaN,7800000.0,7800000.0,INICIS,CARD,NaN,NaN
5295,1294843,29356.0,206840.0,PAYMENT,CANCELLED,(B2B) (주)이지엠앤씨 온라인 구독 올 플랜,교육,B2B 온라인,2021-08-18 16:27:49,7800000,NaN,NaN,7800000.0,7800000.0,INICIS,CARD,NaN,NaN
5296,1337549,29356.0,207509.0,PAYMENT,CANCELLED,(B2B) 레이지소사이어티 온라인 구독 올 플랜,교육,B2B 온라인,2021-09-09 14:33:48,1200000,NaN,NaN,1200000.0,1200000.0,INICIS,CARD,NaN,NaN
5297,1337550,29356.0,207509.0,PAYMENT,COMPLETED,(B2B) 레이지소사이어티 온라인 구독 올 플랜,교육,B2B 온라인,2021-09-09 14:34:31,0,NaN,NaN,1200000.0,1200000.0,NaN,PROMOTION,NaN,NaN
5298,1337551,29356.0,207509.0,PAYMENT,CANCELLED,(B2B) 레이지소사이어티 온라인 구독 올 플랜,교육,B2B 온라인,2021-09-09 14:36:41,1200000,NaN,NaN,1200000.0,1200000.0,INICIS,CARD,NaN,NaN
5299,1363720,29356.0,207729.0,PAYMENT,CANCELLED,(B2B) 디캠프 패밀리사 온라인 구독 올 플랜 (9월),교육,B2B 온라인,2021-09-24 14:41:04,150000,NaN,NaN,150000.0,150000.0,INICIS,CARD,NaN,NaN
6246,1276766,34246.0,206841.0,PAYMENT,COMPLETED,(B2B) 세컨드 윈드 컨설팅 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-08-04 10:18:32,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
7786,1010319,43037.0,204782.0,PAYMENT,COMPLETED,(B2B) 42SEOUL 온라인 구독 올 플랜 (4월 2차),교육,B2B 온라인,2021-04-14 19:18:34,240000,NaN,NaN,240000.0,240000.0,INICIS,CARD,NaN,NaN
9604,1010299,53431.0,204782.0,ORDER,CANCELLED,(B2B) 42SEOUL 온라인 구독 올 플랜 (4월 2차),교육,B2B 온라인,2021-04-14 19:06:29,240000,NaN,NaN,240000.0,240000.0,INICIS,CARD,NaN,NaN
11702,1266525,68603.0,206849.0,PAYMENT,COMPLETED,(B2B) 비바리퍼블리카 온라인 구독 올 플랜 (8월-3개월),교육,B2B 온라인,2021-08-05 14:03:11,150000,NaN,NaN,150000.0,150000.0,NAVER,CARD,NaN,NaN
13939,988021,84288.0,204618.0,PAYMENT,COMPLETED,(B2B) 주식회사 캐어유 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-04-01 13:30:22,2000000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN

In [10]:
#customer id로 그룹화, 각 고객별 type을 알아보기 위해서
df_edu_groupby_customer_id = df_edu.groupby('customer_id').count()

In [11]:
#type이 1개가 아닌 customer_id를 살펴보는 조건
type_edu_cond = df_edu_groupby_customer_id['type'] != 1

In [12]:
#조건 적용해서 customer_id를 확인할 수 있다.
df_edu_groupby_customer_id_multiple = df_edu_groupby_customer_id.loc[type_edu_cond]

In [13]:
# type 개수가 1보다 큰 자료들 customer_id로 추출
df_edu_groupby_customer_id_multiple

,id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
customer_id,,,,,,,,,,,,,,,,,
26632.0,2,2,2,2,2,2,2,2,2,0,0,2,2,2,2,0,0
29356.0,11,11,11,11,11,11,11,11,11,0,0,11,11,8,11,0,0
150603.0,2,2,2,2,2,2,2,2,2,0,0,2,2,2,1,0,0
161571.0,5,5,5,5,5,5,5,5,5,0,0,5,5,5,5,0,0
165690.0,2,2,2,2,2,2,2,2,2,0,0,2,2,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636915.0,2,2,2,2,2,2,2,2,2,0,0,0,0,0,2,0,0
636924.0,2,2,2,2,2,2,2,2,2,0,0,0,0,0,2,0,0
649559.0,2,2,2,2,2,2,2,2,2,0,0,0,0,0,2,0,0
653507.0,2,2,2,2,2,2,2,2,2,0,0,0,0,0,2,0,0
653514.0,2,2,2,2,2,2,2,2,2,0,0,0,0,0,2,0,0

In [14]:
#index인 customer_id를 뽑아서 리스트로 만든다.
df_edu_groupby_customer_id_multiple.index.values.tolist()

[26632.0,
 29356.0,
 150603.0,
 161571.0,
 165690.0,
 168717.0,
 169552.0,
 288008.0,
 387174.0,
 474327.0,
 479014.0,
 479185.0,
 480480.0,
 480736.0,
 482101.0,
 482114.0,
 483121.0,
 500892.0,
 507572.0,
 512625.0,
 512841.0,
 519056.0,
 526653.0,
 528107.0,
 532038.0,
 532091.0,
 533034.0,
 534776.0,
 535622.0,
 539491.0,
 540121.0,
 540941.0,
 546896.0,
 546897.0,
 546988.0,
 547041.0,
 547423.0,
 548656.0,
 548836.0,
 549124.0,
 549563.0,
 549806.0,
 551753.0,
 552021.0,
 555029.0,
 556185.0,
 556279.0,
 557372.0,
 561429.0,
 561642.0,
 562742.0,
 567707.0,
 570724.0,
 571090.0,
 571092.0,
 588005.0,
 588006.0,
 589292.0,
 602251.0,
 614945.0,
 615443.0,
 615444.0,
 615983.0,
 636832.0,
 636905.0,
 636906.0,
 636915.0,
 636924.0,
 649559.0,
 653507.0,
 653514.0]

In [15]:
#type이 여러개인 customer_id들이 포함된 리스트에 속하는지 아닌지 Boolean 형으로 반환하는 조건
multiple_type_cond = df_edu['customer_id'].isin(df_edu_groupby_customer_id_multiple.index.values.tolist())

In [16]:
#type이 여러개이며 교육category에 속하는 자료 뽑음
df_edu.loc[multiple_type_cond]

,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
4740,1052262,26632.0,205171.0,ORDER,CANCELLED,(B2B) 단국대학교 ICT혁신인재센터 온라인 구독 올 플랜,교육,B2B 온라인,2021-05-04 16:31:04,2400000,NaN,NaN,2400000.0,2400000.0,INICIS,CARD,NaN,NaN
4741,1052268,26632.0,205171.0,PAYMENT,COMPLETED,(B2B) 단국대학교 ICT혁신인재센터 온라인 구독 올 플랜,교육,B2B 온라인,2021-05-04 16:31:04,2400000,NaN,NaN,2400000.0,2400000.0,INICIS,CARD,NaN,NaN
5289,1038860,29356.0,204872.0,ORDER,CANCELLED,(B2B) 파스토 온라인 구독 올 플랜,교육,B2B 온라인,2021-04-29 13:38:54,150000,NaN,NaN,150000.0,150000.0,INICIS,CARD,NaN,NaN
5290,1050758,29356.0,205182.0,ORDER,CANCELLED,(B2B) 42SEOUL 온라인 구독 올 플랜 (5월),교육,B2B 온라인,2021-05-03 16:06:27,240000,NaN,NaN,240000.0,240000.0,INICIS,CARD,NaN,NaN
5291,1259540,29356.0,206777.0,PAYMENT,COMPLETED,(B2B) 주식회사 바로비즈 온라인 구독 올 플랜,교육,B2B 온라인,2021-08-02 11:19:59,0,NaN,NaN,600000.0,600000.0,NaN,PROMOTION,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101721,1349124,649559.0,207386.0,PAYMENT,COMPLETED,(B2B) 이지웰 온라인 구독 싱글 플랜 9월 정산,교육,B2B 온라인,2021-09-16 10:01:11,311580,NaN,NaN,NaN,NaN,NaN,TRANSFER,NaN,NaN
102611,1326621,653507.0,207382.0,PAYMENT,COMPLETED,(B2B) 폴린무역회사 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-09-02 9:08:16,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
102612,1331300,653507.0,207382.0,PAYMENT,DELETED,(B2B) 폴린무역회사 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-09-02 9:08:16,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
102620,1326629,653514.0,207397.0,PAYMENT,DELETED,(B2B) 씨그로 주식회사 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-09-02 14:32:39,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN
102621,1331308,653514.0,207397.0,PAYMENT,COMPLETED,(B2B) 씨그로 주식회사 온라인 구독 올 플랜 - 비대면바우처,교육,B2B 온라인,2021-09-02 14:32:39,600000,NaN,NaN,NaN,NaN,NaN,ONSITE,NaN,NaN